/**
 * En base, pero no igual, a las convenciones BEM y SMASCSS pero menos estricta para permitir incoherencias de diseno
 */

///////////////////////////////////
////////// Ayudas
///////////////////////////////////

///
/// Clases de fondos de color
/// Imprime clases segun cada color definido en el array $colores
/// formato: .bg-tipo-shade {} y text-tipo-shade
/// ejemplo: .bg-corporativo-dark y .text-corporativo-dark
///
@each $type, $colors in $colores {
    @each $shade, $color in $colors {
        .bg-#{$type}-#{$shade} { background: $color; }
        .text-#{$type}-#{$shade} { color: $color; }
    }
}


///
/// Clases de tamanos tipograficos
/// Imprime clases segun cada tamano definido en el array $tipos
/// formato: .text-tamano {}
/// ejemplo: .text-huge
///
@each $name, $size in $tipos {
    .text-#{$name} { font-size: $size; }
}


///
/// Clases dependientes de media queries segun cada item definido en el array $medias
///
@each $mq in $medias {
    @include media-query( $mq ) {
        .hide-on-#{$mq} { display: none !important; }
        .lefted-text-#{$mq} { text-align: left; }
        .righted-text-#{$mq} { text-align: right; }
        .centered-text-#{$mq} { text-align: center; }
    }
}



/**** genericas ****/
/**** genericas ****/
/**** genericas ****/



