/* -> Variables <- */

$fontsPath: '/dist/fonts/';
$imagesPath: '/dist/images/';

/* -> Definiendo tipografiax <- */

@font-face {
    font-family: 'poppinsbold';
    src: url($fontsPath+'/poppins/poppins-bold-webfont.woff2') format('woff2'),
         url($fontsPath+'/poppins/poppins-bold-webfont.woff') format('woff'),
         url($fontsPath+'/poppins/poppins-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinslight';
    src: url($fontsPath+'/poppins/poppins-light-webfont.woff2') format('woff2'),
         url($fontsPath+'/poppins/poppins-light-webfont.woff') format('woff'),
         url($fontsPath+'/poppins/poppins-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsmedium';
    src: url($fontsPath+'/poppins/poppins-medium-webfont.woff2') format('woff2'),
         url($fontsPath+'/poppins/poppins-medium-webfont.woff') format('woff'),
         url($fontsPath+'/poppins/poppins-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsregular';
    src: url($fontsPath+'/poppins/poppins-regular-webfont.woff2') format('woff2'),
         url($fontsPath+'/poppins/poppins-regular-webfont.woff') format('woff'),
         url($fontsPath+'/poppins/poppins-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinssemibold';
    src: url($fontsPath+'/poppins/poppins-semibold-webfont.woff2') format('woff2'),
         url($fontsPath+'/poppins/poppins-semibold-webfont.woff') format('woff'),
         url($fontsPath+'/poppins/poppins-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

$fontPoppinBold: 'poppinsbold';
$fontPoppinLight: 'poppinslight';
$fontPoppinMedium: 'poppinsmedium';
$fontPoppinRegular: 'poppinsregular';
$fontPoppinBold: 'poppinssemibold';

/* -> Definiendo tamanos tipograficos <- */
$fontMini : 11px;
$fontTiny : 12px;
$fontSmall : 14px;
$fontRegular : 1em;
$fontRegularBig : 18px;
$fontRegularBigger : 20px;
$fontBig : 24px;
$fontBigger : 28px;
$fontTall : 32px;
$fontTaller : 36px;
$fontReallyBig : 40px;
$fontHuge : 48px;
$fontHumongous : 64px;

/* -> Genero un mapa de tamanos <- */
$tipos : (
    mini : $fontMini,
    tiny : $fontTiny,
    small : $fontSmall,
    regular : $fontRegular,
    regular-big : $fontRegularBig,
    regular-bigger : $fontRegularBigger,
    big : $fontBig,
    tall : $fontTall,
    taller : $fontTaller,
    really-big : $fontReallyBig,
    huge : $fontHuge,
    humongous : $fontHumongous
);

/* -> genero un mapa de tamanos <- */
$color_corporativo_darker : #2F3740;
$color_corporativo_dark : #34404e; 
$color_corporativo_regular : #63707f; 
$color_corporativo_light : #535f6c;
$color_corporativo_lighter : #f5f8fb; 
$color_corporativo_lightest : #f5f8fb;

$negro : #000;
$gris_darker : #333;
$gris_dark : #666;
$gris : #CCC;
$gris_light : #5E5F62;
$gris_lighter: #f4f4f4;
$gris_lightest: #E6E6E6;
$gris-fondo: #F2F2F2;
$blanco : #fff;

/* -> genero un mapa de Colores<- */
$colores : (
    corporativo : (
        darker : $color_corporativo_darker,
        dark : $color_corporativo_dark,
        regular : $color_corporativo_regular,
        light : $color_corporativo_light,
        lighter : $color_corporativo_lighter,
        lightest : $color_corporativo_lightest
    ),
    gris : (
        negro : $negro,
        darker : $gris_darker,
        dark : $gris_dark,
        regular : $gris,
        light : $gris_light,
        lighter : $gris_lighter,
        lightest : $gris_lightest,
        blanco : $blanco,
        fondo : $gris-fondo
    )
);

/* -> transition comun <- */
$transition : all 200ms ease;

/* -> Definiendo mediaqueries <- */
$max_desktop : 1500px;
$desktop : 1200px;
$tablet_horizontal : 1024px;
$tablet_vertical : 850px;
$phablet : 640px;
$phone : 320px;


@mixin media-query( $type ){
    @if $type == desktop-max {
        @media only screen and (min-width: $max_desktop) { @content; }
    }
    @if $type == desktop-only {
        @media only screen and (min-width: $desktop) { @content; }
    }
    @if $type == desktop-tablet {
        @media only screen and (min-width: $tablet_horizontal) and (max-width: $desktop) { @content; }
    }
    @if $type == small-desktop-down {
        @media only screen and (max-width: $desktop) { @content; }
    }
    @if $type == tablet-only {
        @media only screen and (min-width: $tablet_vertical) and (max-width: $tablet_horizontal) { @content; }
    }
    @if $type == tablet-down {
        @media only screen and (max-width: $tablet_horizontal) { @content; }
    }
    @if $type == vertical-tablet-up {
        @media only screen and (min-width: $tablet_vertical) { @content; }
    }
    @if $type == vertical-tablet-down {
        @media only screen and (max-width: $tablet_vertical) { @content; }
    }
    @if $type == phablet-only {
        @media only screen and (min-width: $phablet) and (max-width: $tablet_vertical - 1) { @content; }
    }
    @if $type == phablet-down {
        @media only screen and (max-width: $phablet) { @content; }
    }
    @if $type == phone-only {
        @media only screen and (max-width: $phone) { @content; }
    }
}
@mixin desktop-max { @include media-query(desktop-max) { @content }; }
@mixin desktop-only { @include media-query(desktop-only) { @content }; }
@mixin desktop-tablet { @include media-query(desktop-tablet) { @content }; }
@mixin small-desktop-down { @include media-query(small-desktop-down) { @content }; }
@mixin tablet-only { @include media-query(tablet-only) { @content }; }
@mixin tablet-down { @include media-query(tablet-down) { @content }; }
@mixin vertical-tablet-up { @include media-query(vertical-tablet-up) { @content }; }
@mixin vertical-tablet-down { @include media-query(vertical-tablet-down) { @content }; }
@mixin phablet-only { @include media-query(phablet-only) { @content }; }
@mixin phablet-down { @include media-query(phablet-down) { @content }; }
@mixin phone-only { @include media-query(phone-only) { @content }; }

///// mapa de media queries
$medias : (
    desktop-only,
    desktop-tablet,
    small-desktop-down,
    tablet-only,
    tablet-down,
    vertical-tablet-up,
    vertical-tablet-down,
    phablet-only,
    phablet-down,
    phone-only
);


@mixin image-replacement {
    font-size: 0;
    line-height: 0;
    color: transparent;
    font-family: a;
}

@mixin reset-appearance {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: none;
    border-radius: 0px;
    line-height: 1;
    border: 0px;
    outline: 0px;
    padding: 0px;
}

@mixin image-replacement {
    font-size: 0;
    line-height: 0;
    font-family: a;
    color: transparent;
}

@mixin remove-select-arrow {
    text-indent: 0.01px;
    text-overflow: '';
    &::-ms-expand { display: none; }
}

@mixin placeholder {
    &::-webkit-input-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &::-ms-input-placeholder { @content; }
}

@mixin active-state {
    &:active, &:hover, .no-touch &:active, .touch &:active, .touch &:hover {
        @content;
    }
}

@mixin btn-icon( $name ) {
    &.icon-left.#{$name}:before, &.icon-right.#{$name}:after, , &.icon-top.#{$name}:before {
        @content;
    }
}